.header-container {
    background-color: var(--dark-purple);
    color: var(--light-green);
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    border-bottom: .4vw rgba(38, 70, 96, .3) solid;
}

.info {
    height: 10vh;
    width: auto;
    border: var(--light-green) 5px solid;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin: 1vw;
}

.new-game {
    padding: 1vw;
    height: 15vh;
    width: auto;
    border-radius: 50%;
}

#header-restart {
    position: absolute;
    right: 0;
}