/* put global rules here; I will update all components */
/*  I am also happy to navigate the #root, which will be global */

:root {
  --lightest-tan: #f1e8da;
  --light-tan: #c9aa80;
  --mid-tan: #956c34;
  --dark-tan: #573607;
  --darkest-tan: #281700;

  --light-purple: #A393b9;
  --mid-purple: #432965;
  --dark-purple: #0d021b;

  --lightest-greene:#C6E4B2;
  --light-green: #70b741;
  --mid-green:#448c14;
  --light-dark-green: #1f4903;
  --dark-green: #091501;

  --lightest-blue: #b3c1cd;
  --light-blue: #74a2ca;
  --mid-blue: #27669e;
  --dark-blue: #032038;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

h1 {
  color: var(--light-tan);
}

/* input {
  background-color: var(--lightest-tan);
  height: 4rem;
  width: 30rem;
  border: var(--dark-tan) 5px solid;
  border-radius: 5%;
  font-size: 2rem;
} */

.info {
  background-image: url("/i.png");
  height: 5vh;
  width: auto;
}

.new-game {
  border: none;
}

.WGbutton {
  padding: 1vw;
  margin: 1vw;
  border-radius: 10%;
  width: fit-content;
  background-color: var(--dark-tan);
  border: var(--mid-blue) 5px solid;
  color: var(--dark-purple);
  font-size: x-large;
  font-weight: 700;
}