$dark: #091501;
$light: #c9aa80;
$primary: #573607;
// $secondary: ;
// $success: #;
// $danger: #;
// $info: #;
// $warning: #;

$font-size-base: 1.5rem;

// $display-font-sizes: (
//   1: 100px,
//   2: 4.5rem,
//   3: 4rem,
//   4: 3.5rem,
//   5: 3rem,
//   6: 2.5rem
// );

@import "bootstrap/scss/bootstrap";

// CP in from App.css
// --lightest-tan: #f1e8da;
//   --light-tan: #c9aa80;
//   --mid-tan: #956c34;
//   --dark-tan: #573607;
//   --darkest-tan: #281700;

//   --light-purple: #A393b9;
//   --mid-purple: #432965;
//   --dark-purple: #0d021b;

//   --lightest-greene:#C6E4B2;
//   --light-green: #70b741;
//   --mid-green:#448c14;
//   --light-dark-green: #1f4903;
//   --dark-green: #091501;

//   --lightest-blue: #b3c1cd;
//   --light-blue: #74a2ca;
//   --mid-blue: #27669e;
//   --dark-blue: #032038;

// fix anagram Fx